{{!-- 應用 bootstrap 排列圖卡/改成用 grid 系統排版圖卡 --}}
<div class="container mt-5">
  <div id="data-panel-fieldlist" class="album-wrapper">
    {{!-- 使用 each 迴圈排列圖卡 --}}
    {{#each fields}}
    <a href="/fields/{{this.id}}" class="text-secondary">
      <div class="card mb-3">
        <img src="/{{this.image}}" alt="{{this.title}}" class="card-img-top">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{this.title}}</h6>
          <h6 class="mb-1">
            <i class="fas fa-map-marker-alt pr-2" aria-hidden="true"></i>
            {{this.place}}
          </h6>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>


{{!-- 實作頁碼功能 --}}
<ul id="paginator" class="pagination justify-content-center">
  {{#each pages}}
  <li class="page-item">
    <a class="page-link" href="/page={{this}}" data-page="{{this}}">{{this}}</a>
  </li>
  {{/each}}
</ul>

