{{!-- 點擊分頁 --}}
<h1 class="mb-1 movie-show-title">{{movie.title}}</h1>
<div class="container">
  <div class="col col-md-10 mx-auto">
    <div class="row card-introduction">
      <div class="card-introduction-description">
        <p class="mb-3">Released date: {{movie.release_date}}</p>
        <p class="mb-5">{{movie.description}}</p>
      </div>
      <div class="card-introduction-image">
        <img src="/{{movie.image}}" alt="{{movie.title}}" class="rounded mb-5 w-100 d-block mx-auto"
          style="max-width: 600px;">
      </div>
    </div>
  </div>
</div>
