{{!-- 點擊分頁 --}}
<h1 class="mb-1 field-show-title">{{field.title}}</h1>
<div class="container">
  <div class="col col-md-10 mx-auto">
    <div class="row card-introduction">
      <div class="card-introduction-description">
        <p class="mb-3">Released date: {{field.release_date}}</p>
        <p class="mb-5">{{field.description}}</p>
      </div>
      <div class="card-introduction-image">
        <img src="/{{field.image}}" alt="{{field.title}}" class="rounded mb-5 w-100 d-block mx-auto"
          style="max-width: 600px;">
      </div>
    </div>
  </div>
</div>
